<!DOCTYPE html>
<html>
    <head>
        <script type="application/javascript" src="../static/js/jquery.min.js"></script>
        <script type="application/javascript" src="../static/js/socket.io.js"></script>
        <script type="application/javascript" src="../static/js/d3.min.js"></script>
        <link rel="stylesheet" href="../static/js/bootstrap/css/bootstrap.min.css">
        <script type="application/javascript" src="../static/js/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/main.css">
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){

                // namespaces help multiplex connections into a single socket
                var namespace = "/test";

                // connect to the socket io server
                var socket = io.connect("http://" + document.domain + ":" +
                        location.port + namespace);

                // setting the variable height and width of the svg for d3
                var svg_height = 200;
                var svg_width =  400;
                // setting the variable for a circle graph
                var svg_circle;

                // when connection is established log on a message
                // connect is one of the inbuilt socket functions
                socket.on('connect', function(){
                    socket.emit('my_event', {data: "Connected"});
                });


                // when the form gets submitted, send a message to the server
                // with the user name and the chat message and reset the chat
                // message input box
                $("form#chat-form").submit(function(event){
                    var chatuser = $("#chat-user").val();
                    var chatmessage = $("#chat-message").val();

                    // client side validation to check for blank user name
                    // and message values
                    if ( chatuser.length < 1){
                        $("#chat-user").focus();
                        return false;
                    }
                    if (chatmessage.length < 1) {
                        $("#chat-message").focus();
                        return false;
                    }

                    // create a javascript object with the username and message
                    var dataobj = {
                        'user': chatuser,
                        'message': chatmessage
                    }

                    // send the data obj to the server with custom message
                    socket.emit("my_broadcast_event", {data: dataobj});

                    // reset the input box and set the focus for further input
                    $("#chat-message").val('');
                    $("#chat-message").focus();

                    // return false to avoid refresh or redirect
                    return false;
                });


                // when the server sends a response, make the client invoke a
                // callback function and display on the chat log
                socket.on('my_response', function(msg){

                    var total_messages = msg.total_messages;

                    // if a connection is established for the first time,
                    // there will be no user or message. In that case append
                    // as connected
                    if (!msg.data.user  || !msg.data.message) {
                        $("#chat-log").append("Connected" + "</br>");

                        // append svg for the first time when the client is
                        // connected
                        svg_circle = d3.select("svg")
                                    .attr("height",svg_height)
                                    .attr("width", svg_width);


                    }
                    else {
                        // the below code will find the count of the message
                        // of each user
                        var current_user_name = '';
                        var current_user_msg_count = 0;

                        console.log("total messages : ", total_messages);

                        // loop thru the d3_data object
                        for (var i = 0; i < msg.d3_data.length; i++){
                            current_user_name = msg.data.user;
                            // log the d3_data object to the console
                            console.log(msg.d3_data[i].user);
                            if (current_user_name == msg.d3_data[i].user.name){
                                // get the current user's message count from
                                // the javascript object d3_data
                                current_user_msg_count = msg.d3_data[i].user
                                        .msg_count;
                                // break out of the loop if the user matches
                                // not necessary to look thru the whole loop
                                break;
                            }
                        }

                        // logging the messages in the div
                        $("#chat-log").append(" [ " + current_user_msg_count +
                                " ] " + msg.data.user + ": " +
                                 msg.data.message + "</br>");

                        var chart_data = msg.d3_data;
                        // data set of colors for each circle
                        var colors = ["blue","pink","green","orange","red"]

                        // rendering the circle graph
                        var circles =  svg_circle.selectAll("circle")
                                .data(chart_data);

                        // if the node is already bounded, then those circles
                        // need to be transitioned to a new radius value

                        circles.transition()
                                .duration(500)
                                .attr("r", function(d){
                                    return d.user.msg_count * 5;
                                })
                                .attr("cx", function(d){
                                    return svg_width - ( 75 * d.user.num );
                                })
                                .attr("cy", (svg_height / 2));

                        // only nodes that are not bounded in the DOM gets
                        // updated by enter function
                        circles.enter()
                                .append("circle")
                                .attr("cx",function(d){
                                    return svg_width / 2;
                                })
                                .attr("cy", function (d) {
                                    return svg_height - 50;
                                })
                                .transition()
                                .duration(500)
                                .attr("r", function(d){
                                    return d.user.msg_count * 5;
                                })
                                .attr("fill", function(d){
                                    return d.user.color;
                                });
                    }
                }); // end of my reponse
            }); // end of document
        </script>
    </head>

    <body>
        <nav id="header" class="navbar-inverse"><h2>Flask SocketIO and D3.js
            Realtime Chat App</h2></nav>
        <div class="container col-sm-6" id="chat-container">
            <div class="container col-sm-12" id="chat-log"></div>
            <div class="container col-sm-12">
                <form class="form-inline" id="chat-form">
                    <div class="form-group col-sm-2">
                        <input type="text" class="form-control" id="chat-user"
                               placeholder="Your Name">
                    </div>
                    <div class="form-group col-sm-7 col-sm-offset-1">
                        <input type="text" class="form-control col-sm-12"
                               id="chat-message"
                               placeholder="Your Message">
                    </div>
                    <button type="submit" class="btn btn-primary
                    col-sm-2" id="btn-submit">Send</button>
                </form>
            </div> <!-- end of form -->
        </div> <!-- end of chat container -->

        <div class="container-fluid col-sm-5 col-md-offset-1" id="d3-graph">
            <div class="col-sm-12" id="scattered-graph">
                <svg width="300" height="200" id="svg-scattered"></svg>
            </div>
            <div class="col-sm-12" id="bar-graph">

            </div>
        </div>
    </body>

</html>